NEXT_PUBLIC_SUPABASE_URL=https://gxaknzfbxlnhquaxzmij.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4YWtuemZieGxuaHF1YXh6bWlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNjc4MDYsImV4cCI6MjA5Mzg0MzgwNn0.LHMGavfSduBfZDevOTwalF6IJLXmk95rtmF-ENGyuYw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4YWtuemZieGxuaHF1YXh6bWlqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODI2NzgwNiwiZXhwIjoyMDkzODQzODA2fQ._o9EcC4ih_tGbHPtP7vdVYKYDVx_3WJ3qAeq10emwG8
